{% extends 'base.html' %}
{% block body_content %}
    <div class="container pb-5 mb-2 mb-sm-3 mb-lg-4 mb-xl-5">

        <!-- Breadcrumb -->
        <nav class="position-relative my-3 my-md-4" aria-label="breadcrumb" style="z-index: 1021">
        </nav>

        <!-- Page title -->
        <h1 class="h3 position-relative pb-sm-2 pb-md-3" style="z-index: 1021">Showing for {{ category.name }}</h1>

        <!-- Product grid -->
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 gy-5" id="productGrid">
            {% for product in all_products %}
                <div class="col">
                    <div class="animate-underline mb-sm-2">
                        <a class="hover-effect-opacity ratio ratio-1x1 d-block mb-3" href="/listing/{{ product.id }}/">
                            <img src="{{ product.get_primary_image }}" class="hover-effect-target opacity-100"
                                 alt="Product">
                            <img src="{{ product.images.first.image_url }}"
                                 class="position-absolute top-0 start-0 hover-effect-target opacity-0 rounded-4"
                                 alt="Room">
                        </a>
                        <h3 class="mb-2">
                            <a class="d-block fs-sm fw-medium text-truncate" href="/listing/{{ product.id }}/">
                                <span class="animate-target">{{ product.name}}</span>
                            </a>
                        </h3>
                        <div class="h6">₹{{ product.price }}</div>
                        <div class="d-flex gap-2">
                            <button type="button" class="btn btn-dark w-100 rounded-pill px-3">Add to cart</button>
                            <button type="button" class="btn btn-icon btn-secondary rounded-circle animate-pulse"
                                    aria-label="Add to wishlist">
                                <i class="ci-heart fs-base animate-target"></i>
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>


        <!-- Pagination -->
        <div class="text-center pt-5 mt-md-2 mt-lg-3 mt-xl-4 mb-xxl-3 mx-auto" style="max-width: 306px">
            <p class="fs-sm">Showing 16 from 64</p>
            <div class="progress mb-3" role="progressbar" aria-label="Items shown" aria-valuenow="25" aria-valuemin="0"
                 aria-valuemax="100" style="height: 4px">
                <div class="progress-bar bg-dark rounded-pill d-none-dark" style="width: 25%"></div>
                <div class="progress-bar bg-light rounded-pill d-none d-block-dark" style="width: 25%"></div>
            </div>
{# #}
        </div>
    </div>
{% endblock %}