{% extends 'base.html' %}
{% block body_content %}
    <div class="container">

        <!-- Breadcrumb -->
        <nav class="position-relative pt-3 mt-3 mt-md-4 mb-4" aria-label="breadcrumb">
            {#            <ol class="breadcrumb">#}
            {#                <li class="breadcrumb-item"><a href="home-furniture.html">Home</a></li>#}
            {#                <li class="breadcrumb-item"><a href="shop-catalog-furniture.html">Shop</a></li>#}
            {#                <li class="breadcrumb-item active" aria-current="page">Product page</li>#}
            {#            </ol>#}
        </nav>


        <!-- Product gallery and details -->
        <section class="row pb-4 pb-md-5 mb-2 mb-md-0 mb-xl-3">

            <!-- Gallery -->
            <div class="col-md-7 col-xl-8 pb-4 pb-md-0 mb-2 mb-sm-3 mb-md-0">
                <div class="row row-cols-2 g-3 g-sm-4 g-md-3 g-lg-4">
                    {% for image in listing.get_starting_images %}
                        <div class="col">
                            <a class="hover-effect-scale hover-effect-opacity position-relative d-flex rounded-4 overflow-hidden"
                               href="{{ image.image_url }}" data-glightbox=""
                               data-gallery="product-gallery">
                                <span class="hover-effect-target position-absolute top-0 start-0 w-100 h-100 bg-black bg-opacity-25 opacity-0 z-1"></span>
                                <i class="ci-zoom-in hover-effect-target fs-3 text-white position-absolute top-50 start-50 translate-middle opacity-0 z-2"></i>
                                <div class="ratio ratio-1x1 hover-effect-target">
                                    <img src="{{ image.image_url }}" alt="Image">
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                    <div class="col-12">
                        <div class="collapse d-md-block" id="morePictures">
                            <div class="row row-cols-2 g-3 g-sm-4 g-md-3 g-lg-4 pb-3 pb-sm-4 pb-md-0">
                                {% for image in listing.get_all_images %}
                                    <div class="col">
                                        <a class="hover-effect-scale hover-effect-opacity position-relative d-flex rounded-4 overflow-hidden"
                                           href="{{ image.image_url }}" data-glightbox=""
                                           data-gallery="product-gallery">
                                            <span class="hover-effect-target position-absolute top-0 start-0 w-100 h-100 bg-black bg-opacity-25 opacity-0 z-1"></span>
                                            <i class="ci-zoom-in hover-effect-target fs-3 text-white position-absolute top-50 start-50 translate-middle opacity-0 z-2"></i>
                                            <div class="ratio ratio-1x1 hover-effect-target">
                                                <img src="{{ image.image_url }}" alt="Image">
                                            </div>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <button type="button" class="btn btn-lg btn-outline-secondary w-100 collapsed d-md-none"
                                data-bs-toggle="collapse" data-bs-target="#morePictures"
                                data-label-collapsed="Show more pictures" data-label-expanded="Show less pictures"
                                aria-expanded="false" aria-controls="morePictures" aria-label="Show / hide pictures">
                            <i class="collapse-toggle-icon ci-chevron-down fs-lg ms-2 me-n2"></i>
                        </button>
                    </div>
                </div>
            </div>


            <!-- Product details and options -->
            <div class="col-md-5 col-xl-4">
                <div class="d-none d-md-block" style="margin-top: -90px"></div>
                <div class="sticky-md-top ps-md-2 ps-xl-4">
                    <div class="d-none d-md-block" style="padding-top: 90px"></div>
                    <div class="fs-xs text-body-secondary mb-3">{{ listing.uuid | upper }}</div>
                    <h1 class="fs-xl fw-medium">{{ listing.name | title }}</h1>
                    <div class="h4 fw-bold mb-4">₹{{ listing.price }}
                        <del class="fs-sm fw-normal text-body-tertiary">₹ 299</del>
                    </div>
                    <ul class="list-unstyled fs-sm text-body-emphasis mb-4">
    <!-- Customization -->
    <li class="d-flex align-items-center mb-2">
        <span class="me-1">Can be <span class="fw-semibold">customised</span></span>
        <div class="d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32">
                <path d="M14.3716 10.1289a3.0732 3.0732 0 0 0-4.2427 0 3 3 0 1 0 4.2422 4.2422h.0005A3.0039 3.0039 0 0 0 14.3716 10.1289zM12.957 12.957h-.0005a1.0209 1.0209 0 0 1-1.4135 0 1.0008 1.0008 0 0 1 .0005-1.414.9989.9989 0 0 1 1.4135 0A1.0012 1.0012 0 0 1 12.957 12.957zM6.5933 6.5928a1 1 0 0 0 0 1.414l1.414 1.4151A1 1 0 0 0 9.4219 8.0078L8.0078 6.5928A1 1 0 0 0 6.5933 6.5928zM16.4927 15.0781a1 1 0 0 0-1.4141 1.4141L26.043 27.457a1 1 0 0 0 1.414-1.414zM17.9067 6.5928a1 1 0 0 0-1.4145 0l-1.4141 1.415a1 1 0 0 0 1.4151 1.4141l1.414-1.4151A1 1 0 0 0 17.9067 6.5928zM8.0068 15.0781l-1.414 1.4151a1 1 0 0 0 1.415 1.414l1.4141-1.415a1 1 0 0 0-1.4151-1.4141zM11.25 5.25v2a1 1 0 0 0 2 0v-2a1 1 0 0 0-2 0zM12.25 16.25a1 1 0 0 0-1 1v2a1 1 0 0 0 2 0v-2A1 1 0 0 0 12.25 16.25zM17.25 13.25h2a1 1 0 0 0 0-2h-2a1 1 0 0 0 0 2zM8.25 12.25a1 1 0 0 0-1-1h-2a1 1 0 0 0 0 2h2A1 1 0 0 0 8.25 12.25z" fill="#ff5977"/>
            </svg>
        </div>
    </li>

    <!-- Quality Assured -->
    <li class="d-flex align-items-center mb-2">
        <span class="me-1">Quality <span class="fw-semibold">Assured</span></span>
        <div class="d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32">
                <path d="m21.71 6.71-12 12a1 1 0 0 1-1.41 0l-6-6a1 1 0 0 1 1.41-1.41L9 16.59l11.29-11.3A1 1 0 0 1 21.7 6.7Z" fill="#ff5977"/>
            </svg>
        </div>
    </li>

    <!-- Free Shipping -->
    <li class="d-flex align-items-center mb-2">
        <span class="me-1">Free <span class="fw-semibold">Shipping</span></span>
        <div class="d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32">
                <path d="M29.92 16.61l-3-7A1 1 0 0 0 26 9h-3V8a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v13a1 1 0 0 0 1 1h2.14a4 4 0 0 0 7.72 0h6.28a4 4 0 0 0 7.72 0H29a1 1 0 0 0 1-1v-4a1 1 0 0 0-.08-.39zM23 11h2.34l2.14 5H23zM9 21a2 2 0 1 1 2-2 2 2 0 0 1-2 2zm10.14-1h-6.28a4 4 0 0 0-7.72 0H4V9h17v11zm3.86 1a2 2 0 1 1 2-2 2 2 0 0 1-2 2z" fill="#ff5977"/>
            </svg>
        </div>
    </li>

    <!-- Handmade -->
    <li class="d-flex align-items-center mb-2">
        <span class="me-1">Handmade with <span class="fw-semibold">Love</span></span>
        <div class="d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32">
                <path d="M16 28.72a1 1 0 0 1-.71-.29l-11-11a8 8 0 0 1 11.32-11.32L16 6.51l.39-.4a8 8 0 0 1 11.32 11.32l-11 11a1 1 0 0 1-.71.29z" fill="#ff5977"/>
            </svg>
        </div>
    </li>
    <!-- Gift Ready -->
    <li class="d-flex align-items-center mb-2">
        <span class="me-1">Premium <span class="fw-semibold">Gift Packaging</span></span>
        <div class="d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32">
                <path d="M26 8h-5.1c.1-.3.1-.7.1-1 0-2.2-1.8-4-4-4-1.3 0-2.4.6-3.1 1.5C13.2 3.6 12.1 3 10.8 3c-2.2 0-4 1.8-4 4 0 .3 0 .7.1 1H2c-.6 0-1 .4-1 1v4c0 .6.4 1 1 1h1v13c0 .6.4 1 1 1h20c.6 0 1-.4 1-1V14h1c.6 0 1-.4 1-1V9c0-.6-.4-1-1-1zm-13-.2c-.5.1-1 .2-1.5.2H9c-.3 0-.5 0-.8-.1.1-1.1 1-2 2.1-2 1.2.1 2.2 1 2.7 1.9zM17 5c1.1 0 2 .9 2 2 0 .3-.1.7-.2 1-.5-.1-1-.2-1.5-.2h-2.5c.5-.9 1.5-1.8 2.2-1.8zM3 13v-4h10v4H3zm2 1h8v13H5V14zm10 13V14h8v13h-8zm10-13v13h-1V14h1zm1-1H14V9h12v4z" fill="#ff5977"/>
            </svg>
        </div>
    </li>

    <!-- Satisfaction Guaranteed -->
    <li class="d-flex align-items-center mb-2">
        <span class="me-1">100% <span class="fw-semibold">Satisfaction Guaranteed</span></span>
        <div class="d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32">
                <path d="M16 2l4.5 9.1 10.1 1.5-7.3 7.1L25 30l-9-4.7L7 30l1.7-10.3L1.4 12.6l10.1-1.5L16 2z" fill="#ff5977"/>
            </svg>
        </div>
    </li>
</ul>

                    <!-- Add to cart + Wishlist buttons -->
                    <div class="d-flex gap-3 pb-4 mb-2 mb-lg-3">
                        <div data-product
                             data-product-id="{{ listing.uuid }}"
                             data-product-name="{{ listing.name }}"
                             data-product-price="{{ listing.price }}"
                             data-product-image="{{ listing.get_primary_image }}">
                            <!-- Your existing product content -->
                            <button type="button" class="btn btn-lg btn-dark w-100 rounded-pill btn-add-to-cart">
                                Add to cart
                            </button>
                        </div>
                        <button type="button" class="btn btn-icon btn-lg btn-secondary rounded-circle animate-pulse"
                                aria-label="Add to Wishlist">
                            <i class="ci-heart fs-lg animate-target"></i>
                        </button>
                    </div>

                    <!-- Shipping info -->
{#                    <div class="mb-4">#}
{#                        <h6 class="d-flex align-items-center fs-sm mb-2">#}
{#                            <i class="ci-delivery fs-lg me-2"></i>#}
{#                            Free shipping#}
{#                        </h6>#}
{#                        <div class="fs-sm">#}
{#                            <span class="me-1">Get it between May 24 - May 27 to</span>#}
{#                            <div class="dropdown d-inline-block">#}
{#                                <a class="dropdown-toggle animate-underline fs-sm fw-semibold text-body-emphasis text-decoration-none"#}
{#                                   href="#!" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                                    <span class="animate-target">Preston - 06365</span>#}
{#                                </a>#}
{#                                <div class="dropdown-menu dropdown-menu-end text-body p-3">#}
{#                                    Blackpool Road, 15<br>06365, Preston, UK#}
{#                                    <div class="h6 fs-sm pt-1 mb-0">Susan Gardner</div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}

                    <!-- Contact -->
                    <div class="d-flex align-items-center justify-content-between bg-body-tertiary rounded p-3">
                        <div class="me-3">
                            <h6 class="fs-sm mb-1">Have a question?</h6>
                            <p class="fs-sm mb-0">Contact us if you have questions</p>
                        </div>
                        <a class="btn btn-sm btn-outline-dark rounded-pill" href="">Contact us</a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Product description -->
        <section class="row pb-5 mb-2 mb-sm-3 mb-lg-4 mb-xl-5">
            <div class="col-md-7 col-xl-8 mb-xxl-3">
                <p>{{ listing.description }}</p>
                <ul class="list-unstyled pb-md-2 pb-lg-3">
                    <li class="mt-1"><span class="h6 mb-0">Dimensions:</span> {{ listing.dimensions }}</li>
                    <li class="mt-1"><span class="h6 mb-0">Weight:</span> {{ listing.weight }} Kilogram</li>
                    <li class="mt-1"><span class="h6 mb-0">Shipping Charges:</span> ₹{{ listing.shipping_charges }}</li>
                </ul>

                <div class="accordion accordion-alt-icon" id="productAccordion">
                    <div class="accordion-item">
                        <h3 class="accordion-header" id="headingProductInfo">
                            <button type="button" class="accordion-button animate-underline fs-xl collapsed"
                                    data-bs-toggle="collapse" data-bs-target="#productInfo" aria-expanded="false"
                                    aria-controls="productInfo">
                                <span class="animate-target me-2">Product info</span>
                            </button>
                        </h3>
                        <div class="accordion-collapse collapse" id="productInfo" aria-labelledby="headingProductInfo"
                             data-bs-parent="#productAccordion">
                            <div class="accordion-body fs-base">{{ listing.description }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- Popular products carousel -->
        <section class="pb-5 mb-1 mb-sm-3 mb-lg-4 mb-xl-5">
            <h2 class="h3 pb-2 pb-sm-3">Popular products</h2>
            <div class="position-relative pb-xxl-3">

                <!-- External slider prev/next buttons visible on screens > 500px wide (sm breakpoint) -->
                <button type="button"
                        class="popular-prev btn btn-icon btn-outline-secondary bg-body rounded-circle animate-slide-start position-absolute top-50 start-0 z-2 translate-middle mt-n5 d-none d-sm-inline-flex"
                        aria-label="Prev">
                    <i class="ci-chevron-left fs-lg animate-target"></i>
                </button>
                <button type="button"
                        class="popular-next btn btn-icon btn-outline-secondary bg-body rounded-circle animate-slide-end position-absolute top-50 start-100 z-2 translate-middle mt-n5 d-none d-sm-inline-flex"
                        aria-label="Next">
                    <i class="ci-chevron-right fs-lg animate-target"></i>
                </button>

                <!-- Slider -->
                <div class="swiper" data-swiper="{
              &quot;slidesPerView&quot;: 2,
              &quot;spaceBetween&quot;: 24,
              &quot;loop&quot;: true,
              &quot;navigation&quot;: {
                &quot;prevEl&quot;: &quot;.popular-prev&quot;,
                &quot;nextEl&quot;: &quot;.popular-next&quot;
              },
              &quot;breakpoints&quot;: {
                &quot;768&quot;: {
                  &quot;slidesPerView&quot;: 3
                },
                &quot;992&quot;: {
                  &quot;slidesPerView&quot;: 4
                }
              }
            }">
                    <div class="swiper-wrapper">
                        {% for listing in related_products %}
                            <!-- Item -->
                            <div class="swiper-slide">
                                <div class="animate-underline">
                                    <a class="hover-effect-opacity ratio ratio-1x1 d-block mb-3"
                                       href="#">
                                        <img src="{{ listing.get_primary_image }}"
                                             class="hover-effect-target opacity-100" alt="Product">
                                        <img src="{{ listing.images.first.image_url }}"
                                             class="position-absolute top-0 start-0 hover-effect-target opacity-0 rounded-4"
                                             alt="Room">
                                    </a>
                                    <div class="d-flex gap-2 mb-3">
                                        {% for image in listing.images.all %}
                                            <label for="color-4-1" class="d-inline-block"
                                                   style="height: 40px">
                                                <img src="{{ image.image_url }}" class="w-100 h-100 object-fit-cover">
                                            </label>
                                        {% endfor %}
                                    </div>
                                    <h3 class="mb-2">
                                        <a class="d-block fs-sm fw-medium text-truncate"
                                           href="#">
                                            <span class="animate-target">{{ listing.name }}</span>
                                        </a>
                                    </h3>
                                    <div class="h6">₹{{ listing.price }}</div>
                                    <div class="d-flex gap-2">
                                        <div data-product
                                             data-product-id="{{ listing.uuid }}"
                                             data-product-name="{{ listing.name }}"
                                             data-product-price="{{ listing.price }}"
                                             data-product-image="{{ listing.get_primary_image }}">
                                            <!-- Your existing product content -->
                                            <button type="button"
                                                    class="btn btn-lg btn-dark w-100 rounded-pill btn-add-to-cart">
                                                Add to cart
                                            </button>
                                        </div>
                                        </button>
                                        <button type="button"
                                                class="btn btn-icon btn-secondary rounded-circle animate-pulse"
                                                aria-label="Add to wishlist">
                                            <i class="ci-heart fs-base animate-target"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>

            <!-- External slider prev/next buttons visible on screens < 500px wide (sm breakpoint) -->
            <div class="d-flex justify-content-center gap-2 mt-1 pt-4 d-sm-none">
                <button type="button"
                        class="popular-prev btn btn-icon btn-outline-secondary bg-body rounded-circle animate-slide-start me-1"
                        aria-label="Prev">
                    <i class="ci-chevron-left fs-lg animate-target"></i>
                </button>
                <button type="button"
                        class="popular-next btn btn-icon btn-outline-secondary bg-body rounded-circle animate-slide-end"
                        aria-label="Next">
                    <i class="ci-chevron-right fs-lg animate-target"></i>
                </button>
            </div>
        </section>
    </div>
{% endblock %}

{% block js_script %}

{% endblock %}